/* Estilos previos del App.css */
/* .App {
  text-align: center;
  background-image: linear-gradient(to bottom, #f9f9f9, #ddd1e7, #e5dcec, #ede8f2, #f5f3f7);
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(19, 1, 1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Nuevos estilos para el layout */
/* .content {
  display: block;
  flex: 1;
  align-items: center;
  transition: all 0.3s ease-in-out;
} */

/* Asegurarse de que estos estilos no interfieran con el sidebar */
/* body.sidebar-collapsed .content,
body.sidebar-expanded .content {
  transition: all 0.3s ease-in-out;
  margin: 8vh 5vh 0vh 2vh;
  
}

aside {
  width: 200px;
  padding: 20px;
  background-color: #f4f4f4;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

nav ul li {
  display: inline;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #222;
  color: white;
}

select {
  color: black;
}

.prueba {
  background-image: linear-gradient(to bottom, #d6c6e1, #ddd1e7, #e5dcec, #ede8f2, #f5f3f7);
}

.table {
  text-align: center;
} */

/* Estilos del modal */
/* .register1 {
  background-image: linear-gradient(to bottom, #eaeaeb, #ddd1e7, #e5dcec, #ede8f2, #f5f3f7);
}

.center {
  margin: auto;
}
 */

 